.card {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  transform-style: preserve-3d;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  transform-origin: right;
}

.card {
  .front-face {
    font-size: 80px;
    color: black;
    background: linear-gradient(to top, #1f4788d1, #8378bfd1);
    box-shadow: 0px 0px 6px 4px grey;
  }
  .back-face {
    transform: rotateY(180deg);
    transform-origin: center;
    background-color: blue;
  }
  .face {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }
}

.img {
  height: 100%;
  width: 100%;
}

button:focus {
  outline: 0;
}

.keep-rotating-card {
  animation: keepRotatingCard 3s linear infinite;
}

@keyframes keepRotatingCard {
  50% {
    transform: rotateY(180deg);
    transform-origin: center;
  }
}

.flip-card {
  transition: transform 0.4s ease-out;
  transform-origin: right;
  transform: rotateY(180deg) translateX(100px);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-border::after {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  right: 1px;
  z-index: 1;
  border-radius: 12px;
  border-width: 4px;
  border-style: solid;
  border-color: pink;
  border-image: initial;
}

.star {
  border-radius: 12px;
  transform-origin: center;
  animation: starAnimation1 1s ease-out 0s forwards;
}

@keyframes starAnimation1 {
  to {
    transform: rotateZ(360deg);
    font-size: 56px;
  }
}
